# This is a sample configuration file for rfwbot.py. Rename it to rfwbot.ini and set appropriate values.
# Setting the username and password is probably the only thing you need to do.


[authentication]

#
# Update the values here with your bot's Discord username and password
#

username = YOUR_DISCORD_USERNAME
password = YOUR_DISCORD_PASSWORD


[settings]

#
# commandString: This is the string of characters which will prefix all commands.
# (System commands are prefixed with a double commandString, for example "!!")
#

commandString = !


[files]

#
# These are the files which the script reads in so the bot knows what its autoresponses are, which channels to
# listen to, and which users to consider admins / ignored.
#

commands = config/commands.conf
channels = config/channels.conf
admins = config/admins.conf
ignore = config/ignore.conf
